.editable-cell {
  position: relative;
  padding: 5px 12px;
  cursor: pointer;
}

.editable-row:hover .editable-cell {
  border: 1px solid #d9d9d9;
  border-radius: 4px;

  align-content: initial;
  padding: 4px 11px;
}

.modal-body.modal-footer{
  width: 200%;
  justify-content: left;
  margin: auto;
}

[nz-button] {
  margin-right: 8px;
  margin-bottom: 12px;
}

nz-button-group [nz-button] {
  margin-right: 0;
}


/* form */
textarea {
	font-family: monospace;
}

form {
	background: #eee;
	padding: 1em 1.5em;
}

form label {
	display: block;
	font-weight: bold;
}

form input {
	width: 30em;
}

form > div {
	margin-bottom: 1em;
}

pre {
	word-wrap: break-word;
    white-space: pre-wrap;
}

p.alert {
	color: orange;
}

p.alert::before {
	content: "⚠️ ";
}
/* end form */


.espacio{

  padding-bottom:250px;
}


:host ::ng-deep .ck-editor__editable_inline {
  min-height: 500px;
}



.titulo{
  width: 100% !important;
}

nz-select {
  width: 100%
}


nz-badge {
  color: black;
}

.head-example {
  width: 42px;
  height: 42px;
  border-radius: 4px;
  background: #eee;
  text-align: center;
  padding-top: 15px;
  display: inline-block;
  vertical-align: middle;
}

.head-example:hover {
  width: 42px;
  height: 42px;
  border-radius: 4px;
  background-color: #3d9efe;
  text-align: center;
  padding-top: 15px;
  display: inline-block;
  vertical-align: middle;
}

nz-progress {
  margin-right: 8px;
  margin-bottom: 8px;
  display: inline-block;
}
