<div class="container-fluid">
  <h1 class="pb-4 text-center">Panel de administración</h1>

  <hr>
  <div class="row ">

      <div class="col-md-6 mb-5 col-sm-12 col-12  ">
        <a href="/listado-servicios-all/1" class="letra">
          <mat-card class="example-card">

              <h3 class="text-center">Clientes sin pagar</h3>
              <mat-card-header>

                      <mat-card-title>
                          <i
                              class="pt-4"
                              nz-icon
                              [nzTwotoneColor]="'red'"
                              nzType="exclamation-circle"
                              nzTheme="twotone"
                          >
                          </i>
                          <span *ngIf="sinAprobar==1" class="titulo2">
                              Hay {{sinAprobar}} servicio sin pagar
                          </span>
                          <span *ngIf="sinAprobar>1 || sinAprobar<1" class="titulo2">
                            Hay {{sinAprobar}} servicios sin pagar
                          </span>
                          <span *ngIf="sinAprobar==null" class="titulo2">
                          Hay 0 servicios sin pagar
                          </span>

                      </mat-card-title>

              </mat-card-header>

          </mat-card>
        </a>
      </div>

        <div class="col-md-6 mb-5 col-sm-12 col-12  ">
          <a href="/listado-servicios-all/2" class="letra">
            <mat-card class="example-card">

                <h3 class="text-center">Clientes pendientes de aprobación</h3>
                <mat-card-header>

                        <mat-card-title>
                            <i
                                class="pt-4"
                                nz-icon
                                [nzTwotoneColor]="'red'"
                                nzType="exclamation-circle"
                                nzTheme="twotone"
                            >
                            </i>
                            <span *ngIf="pendientes==1" class="titulo2">
                                Hay {{pendientes}} solicitud pendiente de aprobación
                            </span>
                            <span *ngIf="pendientes>1 || pendientes<1" class="titulo2">
                              Hay {{pendientes}} solicitudes pendientes de aprobación
                            </span>
                            <span *ngIf="pendientes==null" class="titulo2">
                            Hay 0 solicitudes pendientes de aprobación
                            </span>

                        </mat-card-title>

                </mat-card-header>

            </mat-card>
          </a>
        </div>

        <div class="col-md-6 mb-5 col-sm-12 col-12  ">

          <mat-card class="example-card">

              <h3 class="text-center">Clientes que han pagado sus servicios</h3>
              <mat-card-header>
                  <a class="letra" href="/listado-servicios-all/3">
                      <mat-card-title>
                          <i
                              class="pt-4"
                              nz-icon
                              [nzTwotoneColor]="'blue'"
                              nzType="info-circle"
                              nzTheme="twotone"
                          >
                          </i>
                          <span *ngIf="aprobado==1" class="titulo2">
                            Hay {{aprobado}} solicitud aprobada
                          </span>
                         <span *ngIf="aprobado>1 || aprobado<1" class="titulo2">
                          Hay {{aprobado}} solicitudes aprobadas
                          </span>
                         <span *ngIf="aprobado==null" class="titulo2">
                          Hay 0 solicitudes aprobadas
                          </span>

                      </mat-card-title>
                  </a>
              </mat-card-header>

          </mat-card>

        </div>

        <div class="col-md-6 mb-5 col-sm-12 col-12  ">

        <mat-card class="example-card">

            <h3 class="text-center">Tareas creadas</h3>
            <mat-card-header>
                <a class="letra" href="/listado-tareas-all/1">
                    <mat-card-title>
                        <i
                            class="pt-4"
                            nz-icon
                            [nzTwotoneColor]="'red'"
                            nzType="exclamation-circle"
                            nzTheme="twotone"
                        >
                        </i>
                        <span class="titulo2" *ngIf="tareasCreadas==1">
                          Hay {{tareasCreadas}} tarea creada recientemente
                        </span>
                        <span class="titulo2" *ngIf="tareasCreadas > 1 || tareasCreadas < 1 ">
                          Hay {{tareasCreadas}} tareas creadas recientemente
                        </span>
                        <span class="titulo2" *ngIf="tareasCreadas==null">
                          Hay 0 tareas creadas recientemente
                        </span>
                    </mat-card-title>
                </a>
            </mat-card-header>

        </mat-card>

        </div>

    </div>
</div>
