.container-fluid{
  padding: 5%;
}

[nz-radio] {
  display: block;
  height: 32px;

  line-height: 32px;
}

.espacio{
  padding-top: 5%;
}

nz-select {
  width: 100%
}

.login-form {
  max-width: 300px;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}
